<html>
    <head>
        {% block stylesheets %}            
            {% stylesheets
                'css/bootstrap/bootstrap.css'                
                filter='cssrewrite,lessphp' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %} 

    </head>        
    <body>
        <table class="table">
            <tr >
                <td>
                    <h1 style="font-size: 1.2em; padding-bottom: 2px; padding-top: 0px; margin: 0px">{{user.company}}</h1>
                    {{user.address|nl2br}}     
                </td>
                <td style="text-align: right; vertical-align: top">
                    <h1 style="font-size: 2.5em; padding-bottom: 5px; margin: 0px">PAYMENT RECEIPT</h1>                    
                </td>                   
            </tr> 
            <tr>
                <td>
                    <br/>
                    <h3 style="font-size: 1em"></h3>
                    {{payment.invoice.customer.name}}<br/>
                    {{payment.invoice.customer.address|nl2br}} 
                </td>
                <td style="text-align: right; ">
                    <br/>

                </td>
            </tr>
        </table>
        <br/>
        <table class="table" style="width:50%">
            <tr>
                <th>Payment Amount</th>
                <td>${{payment.amount|number_format(2, '.', ',')}}</td>
            </tr>

            <tr>
                <th>Payment Date</th>
                <td>{{payment.date|date('d-M-Y')}}</td>
            </tr>

            <tr>
                <th>Payment Method</th>
                <td>{{payment.method}}</td>
            </tr>         

        </table>
        <br/><br/><br/>
        <h3>Payment For</h3>
        <table class="table">
            <tr>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Invoice Amount</th>
                <th>Amount Paid</th>
            </tr>
            <tr>
                <td>{{payment.invoice.invoiceNumber}}</td>
                <td>{{payment.invoice.invoiceDueDate|date('d-M-Y')}}</td>
                <td>${{payment.invoice.total|number_format(2, '.', ',')}}</td>
                <td>${{payment.invoice.getPaid|number_format(2, '.', ',')}}</td>
            </tr>
        </table>

    </body>
</html>